<h1>Mūsų Vytis</h1>

<h2>"Mūsų Vytis" pradeda savo kelią internete</h2>
<p>Naujausi straipsniai skelbiami internetiniame puslapyje <a href="musuvytis.akademikai.lt">musuvytis.akademikai.lt</a></p>

<a href="">Plačiau</a>

<mat-divider></mat-divider>
<h2>Atvirukas gimtadienio proga</h2>
<p>Vytautas V. Landsbergis</p>



<h2>1.</h2>
<p>Pirmieji prisiminimai apie tėtį kažkodėl susiję su žvejojimu ir grybavimu – tai vienas smagiausių ne tik mudviejų, bet ir visos mūsų šeimos pomėgių. Sakyčiau net apeigų... Tik grybaujam mudu labai skirtingai – tėtis atidžiai, vos ne keliais apeina kiekvieną krūmelį ir iš nematomų samanų kauburėlių be skaičiaus traukia mažyčius baravykus, pro kuriuos aš praeičiau, net dėmesio neatkreipęs… O aš lekiu dideliu greičiu, stengdamasis nugrybauti kuo didesnį miško plotą – mane labiau traukia tie didieji...Reikia pastebėti, kad grybavimo varžybas beveik visada laimi tėvukas… Kaip ir šachmatus... Užtat šiokią tokią moralinę kompensaciją patirdavau ir tebepatiriu žvejodamas Aisete lydekas – šioj srity ir man kartais neblogai pasiseka...</p>

<a href="">Plačiau</a>

<mat-divider></mat-divider>
<h2>Kunigystė</h2>
<p>Antanas Saulaitis SJ</p>

<p>2009 gegužės 17 d. sueina 40 m. nuo kunigystės šventimų mūsų Šv. Juozapo lietuvių parapijos bažnyčioje (JAV, Konektikutas, Waterbury miestas). Visų pirma norisi atlikti išpažintį. Mokyklos suoluose 25 m. išsėdėjęs (neskaitant vaikų darželio, kurio dėl II Pasaulinio karo neteko lankyti, dėl ko visą gyvenimą turiu jaustis nevisiškai išsilavinusiu) jėzuitų seminarijos studentas derėjosi su Dievu. Draugai, draugės, mokyklų bendraklasiai jau dauguma su profesijomis ir sukūrę šeimas, o mes kaip tie arkliukai ganykloje surištomis kojomis toliau vargstame prie knygų, praktikos, kursų ir rašto darbų. „Dieve, po visų šių mokslų duoki nors dešimt metų kunigu padirbėti.“ Dabar tokia gėda Dievą į kampą pastačius. Ir begalinė padėka. Norisi papasakoti apie įspūdingesnes akimirkas – tokias, kurios labai brangios ir protarpiais sužysta iš naujo.</p>

<a href="">Plačiau</a>