<p>news-list works!</p>
<mat-grid-list cols="4" rowHeight="100px">
    @for(article of newsArticles; track article){
    <mat-grid-tile [colspan]="1">{{article.date | date}}</mat-grid-tile>
    <mat-grid-tile [colspan]="3">
        <div>
            <h2>
                {{article.title}}
            </h2>
            <p>
                {{article.preview}}
            </p>
            <a [routerLink]="['/articles/{{article.id}}']">plačiau</a>
        </div>
    </mat-grid-tile>
    }

</mat-grid-list>