<h1>2017–2019 m. veiklos gairės</h1>
<h2>Vizija</h2>
<p>Akademikai – intelektuali skautų organizacija, suaugusiųjų skautavimo tąsos partnerė.</p>

<h2>Misija</h2>
<p>Stiprindami kūrybišką skautų bendruomenę, populiarindami neformalųjį ugdymą ir mokslą, siekdami organizacijų vienybės veikloje, skatiname universitetų studentus ir alumnus tapti principiniais skautais visą gyvenimą.</p>

<mat-list>
    <mat-list-item>Principai</mat-list-item>
    <mat-list-item>Skautiškumas</mat-list-item>
    <mat-list-item>Akademiškumas</mat-list-item>
    <mat-list-item>Korporatyvumas</mat-list-item>
</mat-list>

<h2>Vertybės</h2>
<p>Šiomis vertybėmis Korp! Vytis, ASD, SFS vadovaujasi savo veikloje, jos jungia Korp!Vytis, ASD, SFS narius.</p>

<mat-list>
    <mat-list-item>Broliškumas / seseriškumas</mat-list-item>
    <mat-list-item>Religingumas</mat-list-item>
    <mat-list-item>Pilietiškumas</mat-list-item>
    <mat-list-item>Pareigingumas</mat-list-item>
    <mat-list-item>Blaivumas</mat-list-item>
    <mat-list-item>Profesinis tobulėjimas</mat-list-item>
    <mat-list-item>Tolerantiškumas</mat-list-item>
    <mat-list-item>Nepriklausomumas</mat-list-item>
</mat-list>

<h2>Tikslai</h2>

<mat-list>
    <mat-list-item>Sustiprinti ASD ir Korp! Vytis narystę.</mat-list-item>
    <mat-list-item>Sustiprinti intelektinę, akademišką, kūrybišką skautų veiklą. Sukurti patikimos, brandžios ir sąmoningos skautų organizacijos įvaizdį.</mat-list-item>
    <mat-list-item>Stiprinti bendradarbiavimą su kitomis skautų organizacijomis ir korporacijomis.</mat-list-item>
</mat-list>
