<h1>2017–2019 m. veiklos gairės</h1>
<h2>Vizija</h2>
<p>Akademikai – intelektuali skautų organizacija, suaugusiųjų skautavimo tąsos partnerė.</p>

<h2>Misija</h2>
<p>Stiprindami kūrybišką skautų bendruomenę, populiarindami neformalųjį ugdymą ir mokslą, siekdami organizacijų vienybės veikloje, skatiname universitetų studentus ir alumnus tapti principiniais skautais visą gyvenimą.</p>

<ul>
    <li>Principai</li>
    <li>Skautiškumas</li>
    <li>Akademiškumas</li>
    <li>Korporatyvumas</li>
</ul>

<h2>Vertybės</h2>

<ul>
    <li>Broliškumas / seseriškumas</li>
    <li>Religingumas</li>
    <li>Pilietiškumas</li>
    <li>Pareigingumas</li>
    <li>Blaivumas</li>
    <li>Profesinis tobulėjimas</li>
    <li>Tolerantiškumas</li>
    <li>Nepriklausomumas</li>
</ul>

<p>Šiomis vertybėmis Korp! Vytis, ASD, SFS vadovaujasi savo veikloje, jos jungia Korp!Vytis, ASD, SFS narius.</p>

<h2>Tikslai</h2>

<ol>
    <li>Sustiprinti ASD ir Korp! Vytis narystę.</li>
    <li>Sustiprinti intelektinę, akademišką, kūrybišką skautų veiklą. Sukurti patikimos, brandžios ir sąmoningos skautų organizacijos įvaizdį.</li>
    <li>Stiprinti bendradarbiavimą su kitomis skautų organizacijomis ir korporacijomis.</li>
</ol>
