<h1>Kontaktai</h1>

<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <div class="contact-item">
            <p style="font-weight: bold;">ASS pirmininkė</p>
            <p>t.n. Goda Jackutė</p>
            <p>vadija&#64;akademikai.lt</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <div class="contact-item">
            <p style="font-weight: bold;">Korp! Vytis pirmininkas</p>
            <p>senj Dovydas Beržinis</p>
            <p>korp.vytis&#64;gmail.com</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="contact-item">
            <p style="font-weight: bold;">ASD pirmininkė</p>
            <p>t.n. Karolina Šmitaitė</p>
            <p>akademine.skauciu.draugove&#64;gmail.com</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="contact-item">
            <p style="font-weight: bold;">SFS pirmininkė</p>
            <p>fil. Rūta Abramavičienė</p>
            <p>ruta.vyzintaite&#64;gmail.com</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div>
    <p style="font-weight: bold;">Kauno skyriaus pirmininkas</p>
    <p>senj. Rokas Budrys</p>
    <p>budrokas&#64;gmail.com</p>
</div>
<div>
    <p style="font-weight: bold;">Vilniaus skyriaus pirmininkė</p>
    <p>t.n. Emilija Gulbinaitė</p>
    <p>egulbinaite&#64;gmail.com</p>
</div>
<div>
    <p style="font-weight: bold;">Klaipėdos skyriaus pirmininkas</p>
    <p>fil. Lukas Rubavičius</p>
    <p>lkaseru&#64;yahoo.com</p>
</div>
<div>
    <p style="font-weight: bold;">Mūsų rekvizitai</p>
    <p style="font-weight: bold;">AKADEMINIS SKAUTŲ SĄJŪDIS</p>
    <p>Organizacijos kodas: 195779314</p>
    <p>Adresas: V.VAITKAUS G. 13-192, 04334 VILNIUS</p>
    <p>A/s: LT167300010083013435</p>
</div>