<section id="START">
    <h1>Vydūno fondas</h1>
</section>
<h2>Apie VYDŪNO <img src="../../assets/fund/images/vf_zenklas.png" alt="vf" style="width: 40px;">FONDĄ</h2>

<p>Vydūno jaunimo fondas įkurtas Akademinio skautų sąjūdžio 1952 m. Čikagoje, JAV paremti lietuvius studentus. Fondas per 50 metų veiklos yra suteikęs daugiau negu 1 milijoną JAV dolerių paramos lietuviams studentams, jaunimo organizacijoms ir įvairiems švietėjiškiems leidiniams. Fondo pagrindinės pajamos yra visuomenės aukos, kasmetinis kalėdinių atvirukų platinimas ir leidiniai.</p>

<p>Lietuvoje Fondas remia leidybą, teikia paramą studentams ir yra įsteigęs premijas Lietuvos muzikos ir teatro akademijoje, Kauno technologijos universitete, Klaipėdos universitete, Vilniaus universitete ir Vytauto Didžiojo universitete.</p>

<p>Fondo tikslas, kaip rašė Vydūnas, sutikdamas duoti savo vardą, yra skatinti, kad mokslas nesiribotų vien atskirų žinių pasisavinimu, bet ir asmenybės tobulinimu.</p>

<h2>Kontaktai</h2>

<p>
    Vydūno jaunimo fondas (Čikaga)<br>
    14911 E.127th St., Lemont, IL 60439, USA (JAV)<br>
    Tel./ faks. (630) 243-0865
</p>

<p>
    Jolita Buzaitytė-Kašalynienė, Vydūno jaunimo fondo įgaliotinė Lietuvoje<br>
    Erfurto g. 50-61, LT-04101 Vilnius<br>
    Tel. (370-5) 2633 240, mob. tel. 8-698 834 34<br>
    El. p. <a href="mailto:jolita.kasalyniene@gmail.com">jolita.kasalyniene&#64;gmail.com</a>
</p>

<p>Lankstinukas apie Vydūno fondą <a href="../../assets/fund/files/vf_lankstinukas.zip">(parsisiųsti)</a></p>

<p><a [routerLink]="[]" fragment="START">Į viršų</a></p>