<h1>Nuorodos</h1>
<app-link-table title="KORPORACIJOS" [dataSource]="KorpDataSource"></app-link-table>
<app-link-table title="SKAUTŲ ORGANIZACIJOS" [dataSource]="ScoutOrgsDataSource"></app-link-table>
<app-link-table title="LIETUVOS SKAUTAI UŽSIENYJE" [dataSource]="ForeignScoutDataSource"></app-link-table>
<app-link-table title="LIETUVOS UNIVERSITETAI" [dataSource]="LithuanianUniversityDataSource"></app-link-table>
<app-link-table title="JAUNIMO ORGANIZACIJOS" [dataSource]="YouthOrgsDataSource"></app-link-table>
<app-link-table title="KITOS NAUDINGOS NUORODOS" [dataSource]="OtherDataSource"></app-link-table>