<mat-grid-list cols="5">
    <mat-grid-tile>
        <app-calendar></app-calendar>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="4" [colspan]="3">
        <app-news-list></app-news-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-did-you-know></app-did-you-know>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-income-tax></app-income-tax>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
        <app-survey></app-survey>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-contacts></app-contacts>
    </mat-grid-tile>
</mat-grid-list>