<mat-grid-list cols="5">
    <mat-grid-tile>
        <mat-calendar></mat-calendar>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="4" [colspan]="3">
        <app-news-list></app-news-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-did-you-know></app-did-you-know>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-income-tax></app-income-tax>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
        <app-survey></app-survey>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1>Kontaktai</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Gedimino pr. 7, p.d.1204, LT-01001, Vilnius
                </p>
                <p>
                    <a href="mailto:vadija&#64;akademikai.lt">vadija&#64;akademikai.lt</a>
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>