<section id="START">
    <h1>Ženklai</h1>
</section>
<h2>Koks yra akademikų šūkis?</h2>
<p>Studentai skautai pasiryžę tęsti skautavimą, gilinantis į ideologines skautavimo savybes ir jų pritaikymą asmeniniame, akademiniame, organizaciniame ir profesiniame gyvenime. Todėl dar 1924 m. šūkiu buvo pasirinktas „Ad Meliorem!“, seno lotyniško posakio „Ad meliorem vertamur“ sutrumpinimas, kuris išvertus reiškia „Gerinkime, darykime geriau!“</p>

<h2>Kas yra juosta?</h2>
<p>Perpetinė juosta yra vienas svarbiausių korporantų atributų. Jų atsiradimo istorija siekia viduramžius, kuomet kilmingi ir turtingi studentai tokiomis juostomis prie šono pasirišdavo špagą. Šiandien korporantai špagų nebenešioja, tačiau juostos liko kaip korporacijos vertybes atspindintis atributas. Kiekviena korporacija pasirenka savo spalvas, simbolizuojančias puoselėjamus idealus.</p>

<p>Studentai skautai yra susibūrę į dvi korporacijas: Akademinę skaučių draugovę (ASD), vienijančią seses, ir Studentų skautų korporaciją „Vytis“, jungiančią brolius. Abiejų korporacijų filisteriai susibūrę į Skautų filisterių sąjūdį. Ir nors tradiciškai abi korporacijos veikia drauge, visgi turi atskirą simboliką ir kai kurias savitas tradicijas. Korporacijos turi savo idealus, kuriuos simbolizuoja juostų spalvos.</p>
<h2>ASD juosta</h2>
<p>Tamsiai mėlyna spalva simbolizuoja idealų siekimą, raudona – meilę Dievui, Tėvynei ir artimui, balta – jaunatvišką entuziazmą.</p>
<img src="../../assets/symbol-list/asd_juosta.jpg" alt="ASD juosta">

<h2>Korp! Vytis juosta</h2>
<p>Mėlyna (dangaus spalva) simbolizuoja kilnumą, geltona (aukso spalva) – taurumą, violetinė (uolų spalva) – tvirtumą.</p>
<img src="../../assets/symbol-list/k!vytis_juosta222.jpg" alt="Korp! Vytis juosta">

<h2>Kas yra korporacijos ženklelis?</h2>
<p>ASD ir korp! Vytis turi savo korporacijų ženklelius. Sesių ženklelis - metalinis dviejų spalvų lygiašonis: tamsiai raudona ir balta juosta išilgai ženklelio, o viduryje Studenčių Skaučių Draugovės monograma (SD). Brolių - mėlynas rombas su sidabro spalvos lelija viduryje.</p>
<img src="../../assets/symbol-list/asd_zenklelis.png" alt="ASD ženklelis">
<img src="../../assets/symbol-list/korp_vytis_zenklelis.jpg" alt="Korp! Vytis ženklelis">

<h2>Kas, kaip ir kada dėvi ženklelius?</h2>
<p>ASD ženklelį gali nešioti tik tikrosios narės prie kasdieninio ar išeiginio rūbo kairiajame, o filisterės dešiniajame šone. Korp!Vytis ženklelį segi senjorai kairiajame, filisteriai – dešiniajame švarko atlape. Kandidatės ir junjorai ženklelio segėti negali.</p>

<h2>Kas yra akademikų kaklaraištis?</h2>
<p>Pirmame ASS suvažia­vime Amerikoje 1950 m. rengėjos Klivlendo ASD "Šatrijos Raganos" draugovės sesės nutarė paruošti visą Akademinį Skautų Sąjūdį vienijančią simbolinę dovaną, akademinį kaklaraištį. Sesių ir bro­lių bendrumui pažymėti buvo paimta iš abiejų korporacijų spalvų po vieną: iš sesių - tamsiai mėlyna ir iš brolių - violetinė, kurios juostomis lenkia smėlio spalvos trikampį. Baltos (ASD) ir auksinės (korp!Vytis) spalvos mišinys davė smėlio spalvą, kuri taip pat priminė Palangos pajūrio smėlį. Šių spalvų junginys simbolizuoja veiklos, tikslų ir ideolo­ginio įsipareigojimo bendrumą.</p>

<h2>Kas ir kada ryši akademikų kaklaraištį?</h2>
<p>Kaklaraištį gali ryšėti visi skautišką įžodį davę ASD, korp!Vytis nariai bei filisteriai. Kaklaraištis ryšimas akademikų iškylose ir stovyklose.</p>

<h2>Kas yra korporantiškos kepurėlės?</h2>
<p>Nuo seno likusi tradicija visiems studentams korporantams nešioti kepurėles su matiku. Universiteto organizacijos bei korporacijos turi skirtingų spalvų ir ženklų kepurėles, iš kurių galima atpažinti korporaciją, kuriai studentas priklauso. ASD kepuraitė yra tamsiai mėlynos spalvos su tamsiai raudonu ir baltu graiželiu (kepurės lankas apie galvą), o viršuje sidabriniais siūlais išsiuvinėta monograma.  Korp!Vytis kepurėlė yra tamsiai mėlynos spalvos su violetinės, geltonos ir vėl violetinės spalvų graiželiu. Viršuje auksiniais siūlais išsiuvinėtas korp!Vytis cirkulis.</p>
<img src="../../assets/symbol-list/asd_kepurele.jpg" alt="ASD kepurėlė">
<img src="../../assets/symbol-list/kepurele_senj.jpg" alt="Korp! Vytis kepurėlė">

<h2>Kas, kaip ir kada nešioja korporantišką kepurėlę?</h2>
<p>Kepurėlė dėvima tik tikrųjų narių bei garbės narių kartu su spalvomis prie iškilmių ir pagal tradiciją prie skautų uniformos.</p>

<h2>Kas yra cirkulis?</h2>
<p>Cirkulis yra vienas iš korporacinių ženklų, kuris simbolizuoja jo priklausomybę ir prisirišimą korporacijai. Tai kaligrafinis ženklas – monograma. Jame užkoduotos tam tikros raidės. Korp!Vytis cirkulyje slypi lotyniškas šūkis "Vivat, Crescat, Floreat Vytis in aeternum!" (liet. Tegyvuoja, teklesti, težydi Vytis amžinai!). ASD cirkulio neturi.</p>
<img src="../../assets/symbol-list/cirkulis.jpg" alt="cirkulis">

<h2>Kada naudojamas cirkulis?</h2>
<p>Cirkulį gali naudoti senjorai, filisteriai bei garbės nariai, pasirašydami korporacijos vardu arba norėdami pabrėžti priklausymą korporacijai. Tuomet cirkulis rašomas po vardo arba parašo. Jis visuomet rašomas vienu judesiu, neatitraukiant rankos nuo popieriaus. Pagal tradiciją cirkulį prie savo parašo naujasis senjoras pirmą kartą deda pasirašydamas pasižadėjimo lapą. Taip pat cirkulis yra naudojamas korp! Vytis vėliavoje, ant korp! Vytis dokumentų ir pasižadėjimo lapų, išsiuvinėtoje emblemoje (ant tamsiai mėlyno švarko) ir ant kitos korp! Vytis uniforminės aprangos.</p>

<h2>Kas yra korporacijos skydelis?</h2>
<p>Korporacijos skydelis yra siuvinėta emblema, atspindinti korporacijos vertybes ir simboliką. Korp! Vytis proginiame skydelyje išsiuvinėtas Vytis, korporacijos spalvos, ženklelis, cirkulis ir šūkis. Jis  segimas senjorų, filisterių ir garbės narių prie iškilmių uniformos, kairėje krūtinės pusėje ant švarko. ASD skydelio neturi.</p>
<img src="../../assets/symbol-list/skydelis2.jpg" alt="skydelis">

<h2>Kokia yra akademikų uniforma?</h2>
<p>Skirtingomis progomis akademikai dėvi iškilmių arba stovyklinę uniformą. Oficialių ASD ir Korp!Vytis, korporantiškų, studentiškų, skautiškų renginių, laidotuvių, vestuvių ir minėjimų metu dėvima iškilmių uniforma. ASD ir Korp! Vytis stovyklose arba pastovyklėse, kitų skautų organizacijų stovyklose dėvima stovyklos uniforma.</p>

<h2>ASD iškilmių uniforma:</h2>
<ol>
    <li>Tamsiai mėlyna ( arba juoda) kukli suknelė,</li>
    <li>Kūno spalvos kojinės,</li>
    <li>Tamsūs batai,</li>
    <li>Juosta ir ženklelis,</li>
    <li>Kepuraitė.</li>
</ol>

<h2>ASD stovyklos uniforma:</h2>
<ol>
    <li>Tamsiai mėlynas sijonas,</li>
    <li>Balti trumpomis rankovėmis marškinėliai,</li>
    <li>Stovyklinis kaklaraištis,</li>
    <li>Baltos, iki kelių kojinės,</li>
    <li>Juosta ir ženklelis.</li>
</ol>

<h2>Korp!Vytis iškilmių uniforma:</h2>
<ol>
    <li>Tamsus kostiumas,</li>
    <li>Tamsūs batai,</li>
    <li>Tamsus kaklaraištis,</li>
    <li>Juosta,</li>
    <li>Ženklelis, segamas švarko atlapemis.</li>
</ol>

<h2>Korp!Vytis stovyklos uniforma:</h2>
<ol>
    <li>Geltonos spalvos marškinėliai su cirkuliu kairėje pusėje (junjorų be cirkulio),</li>
    <li>Chaki spalvos trumpos vasariškos kelnės,</li>
    <li>Kaklaraištis,</li>
    <li>Juosta.</li>
</ol>
<img src="../../assets/symbol-list/stovyklos_uniforma.jpg" alt="stovyklos uniforma" style="width: 400px;">

<h2>Kas yra korporacijos vėliava?</h2>
<p>Vėliava yra korporacijos tikslų, idealų ir idėjų simbolis. Ji naudojama iškilmingose akademikų sueigose ir renginiuose (pvz., Metinėje šventėje), eisenose ir paraduose, stovyklose, kitų korporacijų renginiuose, laidotuvėse (laidojant ASD, korp!Vytis ir SFS narį, mecenatą ar kitą skautams nusipelniusį asmenį).</p>

<h2>Kokia yra ASD vėliava?</h2>
<p>Dabartinė ASD vėliava buvo pašventinta 2007 spalio 13 d. Kauno Kristaus Prisikėlimo bažnyčioje. Vėliavos krikštatėviai – fil. Jolita Buzaitytė-Kašalynienė ir korp!Vytis garbės narys gen. mjr. Jonas Kronkaitis. Vėliava yra tamsiai mėlynos spalvos su sidabro spalvos ornamentais. Vienoje vėliavos pusėje išsiuvinėta korporacijos monograma ir šūkis „Ad meliorem!“. Kitoje pusėje centre ratu išsiuvinėtas korporacijos pavadinimas „Akademinė skaučių draugovė“, apačioje – įkūrimo data, šonuose – korporacijos spalvos. Vėliavos kraštai puošiami sidabriniais kutais. Viršuje ant koto rišama trispalvė juosta.</p>

<h2>Kokia yra korp!Vytis vėliava?</h2>
<p>Dabartinė korp!Vytis vėliava buvo pašventinta 2004 m. spalio 16 d. Kauno Šv. Pranciškaus Ksavero (jėzuitų) bažnyčioje. Vėliavos krikštatėviai – mecenatė Kazimiera Galaunienė ir korp!Vytis garbės narys Algirdas Avižienis. Korp! Vytis vėliava yra tamsiai mėlynos spalvos su aukso spalvos ornamentais. Vienoje vėliavos pusėje išsiuvinėta balta lelijėlė mėlyno rombo fone ir šūkis „Ad meliorem!“. Kitoje pusėje centre ratu išsiuvinėtas korporacijos pavadinimas Studentų skautų korporacija „Vytis“, rato viduryje – cirkulis, apačioje – įkūrimo data, šonuose – korporacijos spalvos. Vėliavos kraštai puošiami auksiniais kutais. Viršuje ant koto rišama trispalvė juosta.</p>

<p><a [routerLink]="[]" fragment="START">Į viršų</a></p>